---
date: 2014-10-19 23:51:00 Z
layout: default
---

{% if site.show_blog_header %}
  {% include blog_header.html %}
{% endif %}

<div class="container">


      <!-- Page Features -->
      <div class="row text-center">
{% for post in site.posts %}
        <div class="col-lg-3 col-md-6 mb-4">
			 
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">{{post.title}}</h4>
              <p class="card-text">{{post.excerpt}}</p>
            </div>
            <div class="card-footer">
              <a href="{{post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More!</a>
            </div>
          </div>
			
        </div>
 {% endfor %}
      </div>
      <!-- /.row -->

    </div>